*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;

}
.container {
    width: 1200px;
    margin: 0 auto;
}
.container.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
}
.brand {
    font-size: 24px;
    font-weight: bold;
    color: #c03f10;
}
.container.header .navbar{
    display: flex;
    align-items: center;
    gap: 12px;
}
a{
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}
.navbar a:hover {
    color: #c03f10;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    align-items: start;
    justify-content: center;
    height: 400px;
}
.main-photo img{
    height: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
}