*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;

}
.container {
    width: 1200px;
    margin: 0 auto;
}
.container.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
}
.brand {
    font-size: 24px;
    font-weight: bold;
    color: #c03f10;
}
.container.header .navbar{
    display: flex;
    align-items: center;
    gap: 12px;
}
a{
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}
.navbar a:hover {
    color: #c03f10;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: center;
    height: 400px;

}
.main-content .header{
    font-size: 56px;
    font-weight: bold;

}
.main-content .content{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}
.main-content .btn{
    padding: 12px 24px;
    background-color: darkmagenta;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.main-content .btn:hover {
    background-color: rebeccapurple;
}
.main-photo{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.flex-x3{
    display: flex;
    gap: 10px;
    justify-content: space-between;

}
.flex-x3 .flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-x3 .flex-item img{
    justify-content: center;
    height: 200px;
    width: 400px;
}
.container .featured-products{
    margin-top: 50px;
    background-color: lightsalmon;
    
}
.header-3{
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}
.flex-x4{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    background-color: aquamarine;
}
.flex-x4 .flex-x4-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}